Requirements:
Using only HTML 5 and CSS (no JavaScript or other languages):
You will be building upon your Assignment 1 submission. Make a copy of your three (3) page website and style it according to the requirements outlined below.

*1. Every page must be styled using the same external style sheet to provide a consistent look and feel across all pages.

2. The CSS declarations within your style sheet should provide at least three (3) distinct differences in how the pages are presented based on the
screen size. Use media queries to accomplish this.

3. Use selectors to style all appropriate elements on all pages using CSS.
    a. Each element selected should have at least one property:value pair assigned to it. 
       Providing more than one property:value pair for each
       element is encouraged and will be acknowledged as extra effort.
    b. Examples of elements that are not appropriate to apply styles to
       include: doctype, html, head, title, and a few select others. Check
       with your facilitator if you are unsure or if you would like to request area 
       sonable exception from this requirement.

4. Be creative or at least show your facilitator that you spent some considerable time thinking about and planning out the appearance of your
website. You could be creative with colors and whitespace, with font types and sizes, special alignments and positioning, page layout,
navigation/menu appearance, etc.

5. Show us that you know how to use CSS effectively.

6. You can continue to add additional HTML elements and content if you desire, just be sure to style these as well.

7. You cannot use a responsive web design framework for this assignment.

Submission

Export your CS601_HW1_lastName folder containing all the relevant sub-folders and files as a zip file, and upload the zip file to the appropriate assignment submission area.